{% extends 'cadastro_processo/base.html' %}
{% block title %} Processos {% endblock title %}
{% block content %}
    <div>
        <a href="{% url 'cadastro_processo:cadastro' %}">Nova Planilha</a>
    </div>
    {% for planilha in planilhas %}
        <div>
            <p>Nome: {{ planilha.nome }}</p>
            <p>Cliente: {{ planilha.cliente }}</p>
            <a href="{% url 'cadastro_processo:processo_detalhe' planilha.id %}">detalhes</a>
        </div>
    {% endfor %}
{% endblock content %}